/* **************** */
/* FONTS */
/* **************** */
@font-face {
  font-family: "Cera Pro";
  src: url("./assets/fonts/CeraPro-Regular.woff2") format("woff2"),
    url("./assets/fonts/CeraPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./assets/fonts/CeraPro-Bold.woff2") format("woff2"),
    url("./assets/fonts/CeraPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./assets/fonts/CeraPro-Medium.woff2") format("woff2"),
    url("./assets/fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("./assets/fonts/CeraPro-Black.woff2") format("woff2"),
    url("./assets/fonts/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cera Pro", sans-serif;
}
